<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration> -->

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ClickAndEat"
			connectionString="Server=CRYSMURO\BDCRYSM;Database=ClickAndEat;Integrated Security=True;"

			providerName="System.Data.SqlClient" />
		</connectionStrings>
</configuration>